@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    display: grid;
    font-family: 'Montserrat';
    color: #E3008C;
    height: 100vh;
    background-color: #000000;
}
.container {
    text-align: center;
}

h1{
    font-size: xxx-large;
}

.art-piece {
    width: 400px;
    height: 400px;
    padding-top: 70px;
    border: 2px solid #000;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    overflow: hidden;
    background-color: #000000;
    text-align: left;
    font-size: x-large;
}

img{
    height: 15vh;
}

.textcontainer{
    height: 600px;
    width: 200px;
    position:absolute;
    justify-content: left;
    text-align: center;
    left: 45px;
    top: 100px;
}

.textcontainer2{
    height: 600px;
    width: 200px;
    position: absolute;
    justify-content: right;
    text-align: center;
    right: 45px;
    top: 100px;
}

footer {
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;
    margin-top: auto;
    margin: 0;
    font-size: 14px;
}


